/* Variables 
=============== */
/* Global Styles 
=============== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #212121;
  width: 100%;
  height: 100vh;
  background-color: #fdfdfd;
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}

input,
textarea {
  outline: none;
}

#projects,
#about,
#contact {
  scroll-margin-top: 3rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 30%;
  height: 1px;
  margin: 0 auto;
  background: currentColor;
}

.section__subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}

.btn {
  text-align: center;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
  min-width: 8rem;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn:hover, .btn:focus, .btn:active {
  cursor: pointer;
}

.btn-primary {
  background: #78909C;
  color: #fdfdfd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  cursor: pointer;
  outline: none;
  background-color: #37474F;
}

.btn-default {
  background: transparent;
  color: #78909C;
  position: relative;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  cursor: pointer;
  outline: none;
  color: #37474F;
}

.btn-default::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-default:hover::after {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

/* Header 
=============== */
/* Styles after scroll */
.scrolling-active {
  -webkit-box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.1);
  min-height: 5vh;
  padding: 0.5rem 10%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 99;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 10%;
  width: 100%;
  background-color: #fdfdfd;
  min-height: 7vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  /* Burger Menu
    =============== */
}

header .logo {
  cursor: pointer;
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
  color: #212121;
  font-weight: 900;
  letter-spacing: -0.1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .logo:hover, header .logo:active {
  outline: none;
  color: #78909C;
}

header .nav__links li {
  display: inline-block;
  padding: 0 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8rem;
  padding: 0 1.5rem;
}

header .nav__links li a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #212121;
  position: relative;
}

header .nav__links li a:hover, header .nav__links li a:focus {
  color: #78909C;
}

header .nav__links li a:active {
  outline: none;
  color: #78909C;
}

header .nav__links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .nav__links li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .social-media {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .social-media i {
  font-size: 1.1rem;
  display: inline-block;
  padding: 0 .5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #212121;
}

header .social-media .fa-linkedin:hover {
  color: #2867B2;
}

header .social-media .fa-github:hover {
  color: #6e5494;
}

header .social-media .fa-envelope:hover {
  color: #ffd259;
}

header .social-media .fa-twitter:hover {
  color: #1DA1F2;
}

header .burger {
  display: none;
  cursor: pointer;
}

header .burger div {
  width: 24px;
  height: 2px;
  background-color: #212121;
  margin: 4px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* Body 
=============== */
/* === Hero === */
.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  color: #212121;
  text-align: center;
  margin: 1rem;
}

.hero .hero__text p {
  font-size: 2rem;
  font-weight: 600;
}

.hero .hero__text h1,
.hero .hero__text h2 {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

.hero .hero__text h1 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
}

.hero .hero__text h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.hero .cta__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem;
}

.hero .cta__text .btn {
  margin: 0 1rem;
}

/* === Projects === */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects p {
  margin-bottom: 1rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 2rem;
}

.content .card .card__img,
.content .card .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1rem;
}

.content .card .card__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.content .card .card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 480px;
  height: 260px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.content .card .card__img img:hover, .content .card .card__img img:focus, .content .card .card__img img:active {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content .card .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .card .card__description h3,
.content .card .card__description p,
.content .card .card__description .card__btn {
  margin: 1rem 0;
}

.content .card .card__description .card__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .card .card__description .btn {
  margin-right: 1rem;
}

/* === About === */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 2rem;
}

.about__content .section__title {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.about__content .about__text,
.about__content .about__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2rem;
  margin: 0 2rem 1rem;
}

.about__content .about__text .card__btn {
  margin-top: 1rem;
}

.about__content .card__btn .btn {
  margin: 0 0.5rem;
}

.about__content .about__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.about__content .about__skills .skill__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 1rem;
}

.about__content .about__skills .skill__row .skill__description {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: 0 2rem;
  text-align: center;
}

.about__content .about__skills .skill__row .skill__description .skill__title {
  color: #37474F;
}

.about__content .about__skills .skill__row .skill__description .skill__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* === Contact === */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 2rem;
}

.contact .contact__content .contact__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2rem;
  margin: 1rem;
  width: 100%;
}

.contact .contact__content .contact__text .card__btn {
  margin-top: 1rem;
}

.form {
  width: 100%;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form form label {
  margin: auto;
  font-weight: bold;
}

.form form input[type=text],
.form form textarea {
  margin: auto;
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #78909C;
  margin-bottom: 1.2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form form input[type=text]:hover,
.form form textarea:hover,
.form form input[type=text]:active,
.form form textarea:active,
.form form input[type=text]:focus,
.form form textarea:focus {
  border: 1px solid #37474F;
}

.form form textarea {
  resize: none;
  font-family: "Open Sans", sans-serif;
}

.form form input[type=submit] {
  margin-left: auto;
}

/* === Footer === */
footer {
  background-color: #37474F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 10%;
  width: 100%;
  height: 15vh;
}

footer p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin: 1rem 0;
}

footer .social-media {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-media i {
  font-size: 1.1rem;
  display: inline-block;
  padding: 0 .5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #fdfdfd;
}

footer .social-media .fa-linkedin:hover {
  color: #2867B2;
}

footer .social-media .fa-github:hover {
  color: #6e5494;
}

footer .social-media .fa-envelope:hover {
  color: #ffd259;
}

footer .social-media .fa-twitter:hover {
  color: #1DA1F2;
}

/* 404 Page 
=============== */
.page-not-found {
  height: 100vh;
  overflow: hidden;
}

.page-not-found .hero .hero__text img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 500px;
  margin: 2rem 0;
}

/* Media Queries
=============== */
@media (max-width: 780px) {
  body {
    overflow-x: hidden;
  }
  header .nav__links {
    position: absolute;
    z-index: -1;
    right: 0px;
    height: 96vh;
    top: 5vh;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header .nav__links li {
    opacity: 0;
  }
  header .nav__links li a {
    margin-left: 1.2rem;
    font-size: 1.2rem;
    line-height: 3;
  }
  header .social-media {
    display: none;
  }
  header .burger {
    display: block;
  }
  header .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .hero .hero__text h1 {
    font-size: 4rem;
  }
  .hero .cta__text .btn {
    margin: 0;
  }
  .content .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .card .card__description {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .content .card .card__description .card__title {
    width: 100%;
    text-align: center;
  }
  .content .card .card__description .card__btn {
    width: 100%;
  }
  .content .card .card__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__content .about__text {
    text-align: center;
    margin-bottom: 1rem;
  }
  .about__content .about__skills .skill__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__content .about__skills .skill__row .skill__description .skill__title {
    margin-top: 1rem;
  }
  .contact .contact__content {
    width: 80%;
  }
  .contact .contact__content .contact__text {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }
  .form {
    width: 90%;
  }
  .form form input[type=submit] {
    margin: auto;
  }
}

@media screen and (min-width: 3840px) {
  header .logo,
  header .nav__links li,
  header .social-media i {
    font-size: 2rem;
  }
  .section__title {
    font-size: 4rem;
  }
  .section__subtitle {
    font-size: 2rem;
  }
  .btn {
    font-size: 2rem;
  }
  .content .card .card__img img {
    max-width: 960px;
    width: 960px;
    height: 520px;
  }
  .card__description h3,
  .card__description p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .about__text h3,
  .about__text span {
    font-size: 2rem;
    line-height: 4rem;
  }
  .about__skills .about__text,
  .about__skills h3,
  .about__skills p {
    font-size: 2rem;
    line-height: 3rem;
  }
  .contact__content .contact__text span {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  form label,
  form input[type=text],
  form textarea {
    font-size: 2rem;
  }
  footer p {
    font-size: 2rem;
  }
  footer .social-media i {
    font-size: 2rem;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 3px);
          transform: rotate(-45deg) translate(-5px, 3px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
          transform: rotate(45deg) translate(-5px, -4px);
}
/*# sourceMappingURL=main.css.map */